/* Settings! */
/**
 * @file
 * SCSS variables and functions.
 */
/**
 * Mixins.
 */
/* Undecorated text. */
/* Underlined text (no border) */
/* Gradient. */
/* Rounded corners. */
/* Drop shadow. */
/**
 * Masterclass specific CSS.
 */
/* White page background. */
body.masterclasses {
  background-image: none;
  color: #000; }
  body.masterclasses.blue.blue, body.masterclasses.blue.blue.not-front, body.masterclasses.html.blue, body.masterclasses.html.blue.not-front {
    background-color: #fafafa;
    background-image: none; }
  body.masterclasses .col-8,
  body.masterclasses .col-6 {
    margin-left: none; }
  body.masterclasses .col-2.rightside {
    width: 210px;
    margin-left: 30px;
    margin-top: 0; }

/* Blue header and header menu. */
.masterclasses .header .hgroup p a {
  text-shadow: none;
  color: #003366; }
.masterclasses .header .hgroup h1, .masterclasses .header .hgroup a {
  color: #003366;
  text-shadow: none; }
  .masterclasses .header .hgroup h1:hover, .masterclasses .header .hgroup a:hover {
    color: red; }
.masterclasses #header-menu ul li {
  border: none;
  color: #003366; }
  .masterclasses #header-menu ul li a, .masterclasses #header-menu ul li a:active, .masterclasses #header-menu ul li a:link, .masterclasses #header-menu ul li a:visited {
    border: none;
    color: #003366; }
  .masterclasses #header-menu ul li a:hover {
    color: red; }
.masterclasses #main-content {
  background: #fafafa; }
  .masterclasses #main-content .masterclass-header-wrapper,
  .masterclasses #main-content .masterclass-content-wrapper,
  .masterclasses #main-content .masterclass-footer-wrapper,
  .masterclasses #main-content .view-content,
  .masterclasses #main-content .view-footer {
    background-position: 0px 0px;
    margin-left: -78px;
    margin-right: -50px;
    padding-left: 78px; }
  .masterclasses #main-content .masterclass-header-wrapper {
    background-image: url("../images/masterclasses-top.jpg");
    background-repeat: no-repeat;
    padding-top: 40px;
    min-height: 307px; }
    .masterclasses #main-content .masterclass-header-wrapper h2,
    .masterclasses #main-content .masterclass-header-wrapper h2 a {
      color: #000;
      font-family: Arial, sans-serif;
      font-size: 27px;
      line-height: 90%; }
    .masterclasses #main-content .masterclass-header-wrapper .field {
      margin-right: 320px; }
    .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-heading p {
      font-family: Times, serif;
      font-size: 28px;
      line-height: 120%; }
    .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration {
      font-family: Arial, sans-serif;
      font-size: 18px;
      font-weight: bold; }
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date a,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date a:active,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date a:hover,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date a:link,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date a:visited,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration a,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration a:active,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration a:hover,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration a:link,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration a:visited {
        text-decoration: none;
        color: #000; }
  .masterclasses #main-content .masterclass-content-wrapper {
    background-image: url("../images/masterclasses-middle.jpg");
    background-repeat: repeat-y;
    padding-bottom: 20px; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body .wysiwyg-right .colorbox {
      margin-right: 0; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body .wysiwyg-right img {
      float: right;
      margin-right: -200px; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body p.image-wrapper {
      margin-right: 0; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body ol,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body p,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body ul {
      font-family: Courier;
      font-size: 13px;
      margin-right: 270px; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body ol,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body ul {
      font-family: Courier;
      padding-left: 22px; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body h3, .masterclasses #main-content .masterclass-content-wrapper .field-name-body h4, .masterclasses #main-content .masterclass-content-wrapper .field-name-body h5, .masterclasses #main-content .masterclass-content-wrapper .field-name-body h6 {
      color: #000;
      font-family: Courier;
      font-size: 13px;
      font-weight: bold;
      margin-right: 220px; }
  .masterclasses #main-content .masterclass-footer-wrapper {
    margin-top: -10px;
    min-height: 243px;
    background-image: url("../images/masterclasses-bottom.jpg");
    background-repeat: no-repeat; }
  .masterclasses #main-content .view-header h2, .masterclasses #main-content .view-header h3, .masterclasses #main-content .view-header h4, .masterclasses #main-content .view-header .pullquote {
    color: #000; }
.masterclasses h3#block-jquerymenu-1 {
  margin-left: 22px; }

.masterclasses.views-view-landing_pages #main-content.main.col-6 {
  background-image: url("../images/masterclasses-top.jpg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-left: -78px;
  margin-right: -50px;
  padding-left: 78px;
  width: 750px; }
.masterclasses.views-view-landing_pages .view-header {
  margin-right: 80px; }
.masterclasses.views-view-landing_pages .view-content {
  background-image: url("../images/masterclasses-middle.jpg");
  background-repeat: repeat-y; }
.masterclasses.views-view-landing_pages .view-footer {
  background-image: url("../images/masterclasses-bottom.jpg");
  background-repeat: no-repeat;
  margin-top: -15px;
  min-height: 243px; }

/* Add in some responsible sprinkles. */
/**
 * Hide the mess when on mobile.
 */
@media screen and (max-width: 630px) {
  .masterclasses #main-content .masterclass-header-wrapper,
  .masterclasses #main-content .masterclass-content-wrapper,
  .masterclasses #main-content .masterclass-footer-wrapper {
    background-image: none;
    min-height: 0px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0; }
    .masterclasses #main-content .masterclass-header-wrapper .field,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-heading,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-body,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-body p,
    .masterclasses #main-content .masterclass-content-wrapper .field,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-field-mc-heading,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-field-mc-date,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-field-mc-registration,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body p,
    .masterclasses #main-content .masterclass-footer-wrapper .field,
    .masterclasses #main-content .masterclass-footer-wrapper .field-name-field-mc-heading,
    .masterclasses #main-content .masterclass-footer-wrapper .field-name-field-mc-date,
    .masterclasses #main-content .masterclass-footer-wrapper .field-name-field-mc-registration,
    .masterclasses #main-content .masterclass-footer-wrapper .field-name-body,
    .masterclasses #main-content .masterclass-footer-wrapper .field-name-body p {
      margin-right: 0; }
  .masterclasses #main-content .masterclass-header-wrapper {
    padding-top: 0px; }
  .masterclasses #main-content .masterclass-content-wrapper p.wysiwyg-right img {
    display: none; }

  .masterclasses.views-view-landing_pages #main-content.main.col-6,
  .masterclasses.views-view-landing_pages .view-content,
  .masterclasses.views-view-landing_pages .view-footer {
    background-image: none; }
  .masterclasses.views-view-landing_pages #main-content.main.col-6 {
    width: auto; } }
/* Smartphones (portrait and landscape) */
