/* Settings! */
/**
 * @file
 * SCSS variables and functions.
 */
/**
 * Mixins.
 */
/* Undecorated text. */
/* Underlined text (no border) */
/* Gradient. */
/* Rounded corners. */
/* Drop shadow. */
/**
 * Masterclass specific CSS.
 */
/* White page background. */
body.masterclasses {
  background-image: none;
  color: #000; }
  body.masterclasses.blue.blue, body.masterclasses.blue.blue.not-front, body.masterclasses.html.blue, body.masterclasses.html.blue.not-front {
    background-color: #fafafa;
    background-image: none; }
  body.masterclasses .col-8,
  body.masterclasses .col-6 {
    margin-left: none; }
  body.masterclasses .col-2.rightside {
    width: 210px;
    margin-left: 30px;
    margin-top: 0; }

/* Blue header and header menu. */
.masterclasses .header .hgroup p a {
  text-shadow: none;
  color: #003366; }
.masterclasses .header .hgroup h1, .masterclasses .header .hgroup a {
  color: #003366;
  text-shadow: none; }
  .masterclasses .header .hgroup h1:hover, .masterclasses .header .hgroup a:hover {
    color: red; }
.masterclasses #header-menu ul li {
  border: none;
  color: #003366; }
  .masterclasses #header-menu ul li a, .masterclasses #header-menu ul li a:active, .masterclasses #header-menu ul li a:link, .masterclasses #header-menu ul li a:visited {
    border: none;
    color: #003366; }
  .masterclasses #header-menu ul li a:hover {
    color: red; }
.masterclasses #header-menu #block-menu-menu-header-menu li {
  border-bottom: solid 1px; }
.masterclasses #header-menu #block-menu-menu-header-menu li.last {
  border-bottom: none; }
.masterclasses #main-content {
  background: #fafafa; }
  .masterclasses #main-content a,
  .masterclasses #main-content a:active,
  .masterclasses #main-content a:link,
  .masterclasses #main-content a:visited {
    color: #000; }
  .masterclasses #main-content a:hover {
    color: #cf3333; }
  .masterclasses #main-content a.button {
    color: #ffffff; }
  .masterclasses #main-content .masterclass-header-wrapper,
  .masterclasses #main-content .masterclass-content-wrapper,
  .masterclasses #main-content .masterclass-footer-wrapper,
  .masterclasses #main-content .view-content,
  .masterclasses #main-content .view-footer {
    background-position: 0px 0px;
    margin-left: -78px;
    margin-right: -50px;
    padding-left: 78px; }
  .masterclasses #main-content .masterclass-header-wrapper {
    background-repeat: no-repeat;
    padding-top: 40px;
    min-height: 307px; }
    .masterclasses #main-content .masterclass-header-wrapper h2,
    .masterclasses #main-content .masterclass-header-wrapper h2 a {
      color: #000;
      font-family: Arial, sans-serif;
      font-size: 27px;
      line-height: 90%; }
    .masterclasses #main-content .masterclass-header-wrapper h2.the_title {
      margin-top: 5px; }
    .masterclasses #main-content .masterclass-header-wrapper .field {
      margin-right: 190px; }
    .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-heading p {
      font-family: Times, serif;
      font-size: 28px;
      line-height: 120%; }
    .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration {
      font-family: Arial, sans-serif;
      font-size: 18px;
      font-weight: bold; }
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date a,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date a:active,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date a:hover,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date a:link,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date a:visited,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration a,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration a:active,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration a:hover,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration a:link,
      .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration a:visited {
        text-decoration: none;
        color: #000; }
  .masterclasses #main-content .masterclass-content-wrapper {
    background-image: url("../images/masterclasses-middle.jpg");
    background-repeat: repeat-y;
    padding-bottom: 20px; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body .wysiwyg-right .colorbox {
      margin-right: 0; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body .wysiwyg-right img {
      float: right;
      margin-right: -200px; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body p.image-wrapper {
      margin-right: 0; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body ol,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body p,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body ul {
      font-family: Courier;
      font-size: 13px;
      margin-right: 270px; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body table {
      table-layout: fixed;
      width: 90%; }
      .masterclasses #main-content .masterclass-content-wrapper .field-name-body table ul,
      .masterclasses #main-content .masterclass-content-wrapper .field-name-body table ol,
      .masterclasses #main-content .masterclass-content-wrapper .field-name-body table p {
        margin-right: 0; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body ol,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body ul {
      font-family: Courier;
      padding-left: 22px; }
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body h3, .masterclasses #main-content .masterclass-content-wrapper .field-name-body h4, .masterclasses #main-content .masterclass-content-wrapper .field-name-body h5, .masterclasses #main-content .masterclass-content-wrapper .field-name-body h6 {
      color: #000;
      font-family: Courier;
      font-size: 13px;
      font-weight: bold;
      margin-right: 220px; }
  .masterclasses #main-content .masterclass-footer-wrapper {
    margin-top: -10px;
    min-height: 243px;
    background-image: url("../images/masterclasses-bottom.jpg");
    background-repeat: no-repeat; }
  .masterclasses #main-content .view-header h2, .masterclasses #main-content .view-header h3, .masterclasses #main-content .view-header h4, .masterclasses #main-content .view-header .pullquote {
    color: #000; }
  .masterclasses #main-content .view-content:before,
  .masterclasses #main-content .view-content:after {
    content: '';
    display: table; }
  .masterclasses #main-content .view-content:after {
    clear: both; }
  .masterclasses #main-content .view-content {
    display: inline-block; }
  .masterclasses #main-content .view-content {
    display: block; }
.masterclasses h3#block-jquerymenu-1 {
  margin-left: 22px; }

.masterclasses.views-view-landing_pages #main-content.main.col-6 {
  background-image: url("../images/masterclasses-top.jpg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-top: 20px !important;
  margin-left: -78px;
  margin-right: -50px;
  padding-left: 78px;
  padding-top: 40px;
  width: 750px; }
  .masterclasses.views-view-landing_pages #main-content.main.col-6 > h2 a {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 27px;
    line-height: 90%;
    font-weight: bold;
    text-decoration: underline; }
.masterclasses.views-view-landing_pages .view-header {
  margin-right: 80px;
  height: 268px; }
  .masterclasses.views-view-landing_pages .view-header h4 {
    font: 27px Times; }
.masterclasses.views-view-landing_pages .view-content {
  padding-left: 58px !important;
  background-image: url("../images/masterclasses-middle.jpg");
  background-repeat: repeat-y; }
  .masterclasses.views-view-landing_pages .view-content .views-row.col-2 {
    min-height: 350px;
    height: auto !important;
    height: 350px; }
  .masterclasses.views-view-landing_pages .view-content .views-row h2 {
    font: 14px Arial;
    font-weight: bold; }
  .masterclasses.views-view-landing_pages .view-content .views-row .views-field-body p {
    font: 13px courier; }
.masterclasses.views-view-landing_pages .view-footer {
  background-image: url("../images/masterclasses-bottom.jpg");
  background-repeat: no-repeat;
  margin-top: -15px;
  min-height: 243px; }

/* Add in some responsible sprinkles. */
/**
 * Hide the mess when on mobile.
 */
@media screen and (max-width: 630px) {
  .masterclasses #main-content .masterclass-header-wrapper,
  .masterclasses #main-content .masterclass-content-wrapper,
  .masterclasses #main-content .masterclass-footer-wrapper {
    background-image: none;
    min-height: 0px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0; }
    .masterclasses #main-content .masterclass-header-wrapper .field,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-heading,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-date,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-field-mc-registration,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-body,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-body ol,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-body ul,
    .masterclasses #main-content .masterclass-header-wrapper .field-name-body p,
    .masterclasses #main-content .masterclass-content-wrapper .field,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-field-mc-heading,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-field-mc-date,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-field-mc-registration,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body ol,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body ul,
    .masterclasses #main-content .masterclass-content-wrapper .field-name-body p,
    .masterclasses #main-content .masterclass-footer-wrapper .field,
    .masterclasses #main-content .masterclass-footer-wrapper .field-name-field-mc-heading,
    .masterclasses #main-content .masterclass-footer-wrapper .field-name-field-mc-date,
    .masterclasses #main-content .masterclass-footer-wrapper .field-name-field-mc-registration,
    .masterclasses #main-content .masterclass-footer-wrapper .field-name-body,
    .masterclasses #main-content .masterclass-footer-wrapper .field-name-body ol,
    .masterclasses #main-content .masterclass-footer-wrapper .field-name-body ul,
    .masterclasses #main-content .masterclass-footer-wrapper .field-name-body p {
      margin-right: 0; }
  .masterclasses #main-content .masterclass-header-wrapper {
    padding-top: 0px; }
  .masterclasses #main-content .masterclass-content-wrapper p.wysiwyg-right img {
    display: none; }
  .masterclasses #main-content .view-content .views-row-odd {
    clear: left; }

  .masterclasses.views-view-landing_pages #main-content.main.col-6,
  .masterclasses.views-view-landing_pages .view-content,
  .masterclasses.views-view-landing_pages .view-footer {
    background-image: none; }
    .masterclasses.views-view-landing_pages #main-content.main.col-6 h1, .masterclasses.views-view-landing_pages #main-content.main.col-6 h2, .masterclasses.views-view-landing_pages #main-content.main.col-6 h3, .masterclasses.views-view-landing_pages #main-content.main.col-6 h4,
    .masterclasses.views-view-landing_pages .view-content h1,
    .masterclasses.views-view-landing_pages .view-content h2,
    .masterclasses.views-view-landing_pages .view-content h3,
    .masterclasses.views-view-landing_pages .view-content h4,
    .masterclasses.views-view-landing_pages .view-footer h1,
    .masterclasses.views-view-landing_pages .view-footer h2,
    .masterclasses.views-view-landing_pages .view-footer h3,
    .masterclasses.views-view-landing_pages .view-footer h4 {
      margin-top: 0;
      margin-bottom: 0; }
  .masterclasses.views-view-landing_pages #main-content.main.col-6 {
    width: auto; }
  .masterclasses.views-view-landing_pages .view-content {
    margin-top: 80px; }
  .masterclasses.views-view-landing_pages .view-footer {
    min-height: 0; } }
/* Smartphones (portrait and landscape) */
@media screen and (max-width: 481px) {
  .masterclasses #main-content .masterclass-content-wrapper .field-name-body h3, .masterclasses #main-content .masterclass-content-wrapper .field-name-body h4, .masterclasses #main-content .masterclass-content-wrapper .field-name-body h5, .masterclasses #main-content .masterclass-content-wrapper .field-name-body h6 {
    margin-right: 0; }

  .masterclasses.views-view-landing_pages #main-content .view-header {
    height: auto; }
  .masterclasses.views-view-landing_pages #main-content .view-content {
    margin-left: -58px;
    padding-left: 78px;
    margin-top: 40px; }
  .masterclasses.views-view-landing_pages #main-content img {
    display: none; }
  .masterclasses.views-view-landing_pages .view-content .views-row.col-2 {
    min-height: 0px; } }
/* Smartphones (portrait) ----------- */
