/**
 * Hide the mess when on mobile.
 */
//@import "responsive_grid";

@media screen and (max-width: 630px) {
  .masterclasses {
    #main-content {
      .masterclass-header-wrapper,
      .masterclass-content-wrapper,
      .masterclass-footer-wrapper {
        background-image: none;
				min-height: 0px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;

        .field,
        .field-name-field-mc-heading,
        .field-name-field-mc-date,
        .field-name-field-mc-registration,
        .field-name-body,
				.field-name-body ol,
				.field-name-body ul, 
        .field-name-body p {
          margin-right: 0;
        }
      }

			.masterclass-header-wrapper {
				padding-top: 0px;
			}

			.masterclass-content-wrapper {
				p.wysiwyg-right {
					img {
						display: none;	
					}
				}
			}

			// Landing page
			.view-content {
				.views-row-odd {
					clear: left;
				}
			}
    }
  }

  .masterclasses.views-view-landing_pages {
    #main-content.main.col-6,
    .view-content,
    .view-footer {
			h1, h2, h3, h4 {
				margin-top: 0;
				margin-bottom: 0;
			}

      background-image: none;
    }

    #main-content.main.col-6 {
      width: auto;
    }

		.view-content {
			margin-top: 80px;
		}

		.view-footer {
			min-height: 0;
		}
  }
}

/* Smartphones (portrait and landscape) */
@media screen and (max-width: 480px) {
	.masterclasses {
		#main-content {
			.masterclass-content-wrapper {
				.field-name-body {
					h3, h4, h5, h6 {
						margin-right: 0;
					}
				}
			}
		}
	}

	// Landing page
	.masterclasses.views-view-landing_pages {
    #main-content {
			.view-header {
				height: auto;
			}			

      .view-content {
				margin-left: -58px;
				padding-left: 78px;
				margin-top: 40px;
			}

			img {
				display: none;
			}
		}

		.view-content .views-row.col-2 {
			min-height: 0px;
		}
	}
}

/* Smartphones (portrait) ----------- */
@media screen and (max-width : 320px) {

}
