/* Settings! */
@import "mixins";

/* Font */
@import url("http://fnt.webink.com/wfs/webink.css/?project=8B5A12C1-846B-498D-BC0C-DC36E84A884C&fonts=FB0CCC50-EA15-A0B4-57D7-2DB546487805:f=HermesOptimoTypewriter-It,0A19C09C-59BF-587E-A0C8-1E0A0DBC8DDA:f=HermesOptimoTypewriter-Bd,FED7BA4D-9940-546C-184F-B8A8B98DE86B:f=HermesOptimoTypewriter");

@import "_plantin_font";


/**
 * Masterclass specific CSS.
 */

/* White page background. */
body.masterclasses {
  background-image: none;
  color: #000;

  &.blue,
  &.html {
    &.blue,
    &.blue.not-front {
      background-color: $mc-background;
      background-image: none;
    }
  }

  .col-8,
  .col-6 {
    margin-left: none;
  }

  .col-2.rightside {
    width: 210px;
    margin-left: 30px;
    margin-top: 0;
  }
}

/* Blue header and header menu. */
.masterclasses {
  .header {
    .hgroup {
      p a {
        text-shadow: none;
        color: $uni-blue;
      }
      h1,
      & a {
        color: $uni-blue;
        text-shadow: none;

        &:hover {
          color: red;
        }
      }
    }
  }

  #header-menu {
    ul {
      li {
        border: none;
        color: $uni-blue;

        & a,
        & a:active,
        & a:link,
        & a:visited {
          border: none;
          color: $uni-blue;
        }

        & a:hover {
          color: red;
        }
      }
    }

		#block-menu-menu-header-menu {
			li {
				border-bottom: solid 1px;
			}
	
			li.last {
				border-bottom: none;
			}
		}
  }

  #main-content {
    background: $mc-background;

		a,
    a:active,
    a:link,
    a:visited {
    	color: #000;
    }

		a:hover {
    	color: #cf3333;
    }

		a.button {
			color: #ffffff;
		}

    // position the backgrounds on the wrapper divs.
    .masterclass-header-wrapper,
    .masterclass-content-wrapper,
    .masterclass-footer-wrapper,
    .view-content,
    .view-footer {
      background-position: 0px 0px;
      margin-left: -78px;
      margin-right: -50px;
      padding-left: 78px;
    }

    .masterclass-header-wrapper {
      //background-image: url('../images/masterclasses-top-page.jpg');
      background-repeat: no-repeat;
      padding-top: 40px;
      min-height: 307px;

      h2 {
        color: #000;
        font-family: "Apercu Bold", Arial, sans-serif;
        font-size: 28px;
        line-height: 90%;
      }

			h2.the_title {
				margin-top: 5px;
			}

      .field {
        margin-right: 190px;
      }

      .field-name-field-mc-heading {
        p {
          font-family: PlantinMTStd-Regular, Times, serif;
          font-size: 28px;
          line-height: 120%;

					a,
        	a:active,
        	a:hover,
        	a:link,
        	a:visited {
						font-style: italic;
						text-decoration: none;	
					}
        }
      }

      .field-name-field-mc-date,
      .field-name-field-mc-registration {
        font-family: "Apercu Bold", Arial, sans-serif;
        font-size: 18px;

        a,
        a:active,
        a:hover,
        a:link,
        a:visited {
          text-decoration: none;
          color: #000;
        }
      }
    }

    .masterclass-content-wrapper {
      background-image: url('../images/masterclasses-middle.jpg');
      background-repeat: repeat-y;
      padding-bottom: 20px;

      .field-name-body {
        .wysiwyg-right {
          .colorbox {
            margin-right: 0;
          }

          img {
            float: right;
            margin-right: -200px;
          }
        }

        p.image-wrapper {
          margin-right: 0;
        }

        ol,
        p,
        li {
          font-family: HermesOptimoTypewriter;
          font-size: 11px;
          margin-right: 270px;
        }

        h3,
        h4,
        h5,
        h6 {
					font-family: HermesOptimoTypewriter, Arial;
          clear: both;
          margin-right: 270px;
					color: #000;
          font-size: 11px;
          font-weight: bold;
        }

				// This assume you never float the image with table.
				table {
					table-layout:fixed;
					width: 90%;
	
					ul,
					ol,
					p {
						margin-right:0;
					}
				}

				/*
        ol,
        ul {
          font-family: Courier;
          padding-left: 22px;
        }
				
        h3, h4, h5, h6 {
          color: #000;
          font-size: 13px;
          font-weight: bold;
          margin-right: 220px;
        }
				*/

      }
    }

    .masterclass-footer-wrapper {
      margin-top: -10px;
      min-height: 243px;
      background-image: url('../images/masterclasses-bottom.jpg');
      background-repeat: no-repeat;
    }

    .view-header {
      h2, h3, h4, .pullquote {
        color: #000;
      }
    }

		// Make float contained, but still allow overflow content
		.view-content:before, 
		.view-content:after {
  		content: '';
  		display: table;
		}

		.view-content:after {
  		clear: both;
		}

		.view-content { display: inline-block; }
		.view-content { display: block; }	
	
	}


  h3#block-jquerymenu-1 {
    margin-left: 22px;
  }
}

.masterclasses.views-view-landing_pages {

  #main-content.main.col-6 {
    background-image: url('../images/masterclasses-top.jpg');
    background-position: 0px 0px;
    background-repeat: no-repeat;
		margin-top: 20px !important; // Make it same as other page
    margin-left: -78px;
    margin-right: -50px;
    padding-left: 78px;
		padding-top: 40px;
    width: 750px;

		> h2
		{
			color: #000;
      font-family: "Apercu Bold", Arial, sans-serif;
      font-size: 28px;
      line-height: 90%;
			font-weight: bold;

			a {
				text-decoration: underline;
			}
		}
  }

  .view-header {
    margin-right: 80px;
		height: 268px; // Constrain the height, so .view-content can flow up

		h4 {
			font-family: PlantinMTStd-Regular, Times;
			font-size: 20px;
			line-height: 130%;
			padding-top: 0px;
		}
  }

  .view-content {
		padding-left: 58px !important; // Hack

    background-image: url('../images/masterclasses-middle.jpg');
    background-repeat: repeat-y;

		// IE 8
		.views-row.col-2 {
			min-height: 390px; 
   		height:auto !important; 
   		height: 390px;	
		}

		.views-row {
			h2 {
				font-family: "Apercu Bold", Arial;
				font-size: 20px;
				font-weight: bold;
				line-height: 120%;
			}

			.views-field-body {
				p {
					font-family: HermesOptimoTypewriter, courier;
					font-size: 11px;
				}
			}
		}
  }

  .view-footer {
    background-image: url('../images/masterclasses-bottom.jpg');
    background-repeat: no-repeat;
    margin-top: -15px;
    min-height: 243px;
  }
}

/* Add in some responsible sprinkles. */
@import "responsive";
