/* Settings! */
@import "mixins";

/**
 * Masterclass specific CSS.
 */

/* White page background. */
body.masterclasses {
  background-image: none;
  color: #000;

  &.blue,
  &.html {
    &.blue,
    &.blue.not-front {
      background-color: white;
      background-image: none;
    }
  }

  .col-8,
  .col-6 {
    margin-left: none;
  }

  .col-2.rightside {
    width: 190px;
    margin-left: 20px;
    margin-top: 0;
  }
}

/* Blue header and header menu. */
.masterclasses {
  .header {
    .hgroup {
      p a {
        text-shadow: none;
        color: $uni-blue;
      }
      h1,
      & a {
        color: $uni-blue;
        text-shadow: none;

        &:hover {
          color: red;
        }
      }
    }
  }

  #header-menu {
    ul {
      li {
        border: none;
        color: $uni-blue;

        & a,
        & a:active,
        & a:link,
        & a:visited {
          border: none;
          color: $uni-blue;
        }

        & a:hover {
          color: red;
        }
      }
    }
  }

  #main-content {
    background: $mc-background;
    @include box-shadow(6px, 6px, 12px, #999);
    padding: 0 1em 2em 1em;

    .view-header {
      h4, .pullquote {
        color: #000;
      }
    }
  }

  #content-wrapper #main-content {
    margin-top: 20px;
  }
}
