/* Settings! */
@import "mixins";

/**
 * Masterclass specific CSS.
 */

/* White page background. */
body.masterclasses {
  background-image: none;
  color: #000;

  &.blue,
  &.html {
    &.blue,
    &.blue.not-front {
      background-color: $mc-background;
      background-image: none;
    }
  }

  .col-8,
  .col-6 {
    margin-left: none;
  }

  .col-2.rightside {
    width: 210px;
    margin-left: 30px;
    margin-top: 0;
  }
}

/* Blue header and header menu. */
.masterclasses {
  .header {
    .hgroup {
      p a {
        text-shadow: none;
        color: $uni-blue;
      }
      h1,
      & a {
        color: $uni-blue;
        text-shadow: none;

        &:hover {
          color: red;
        }
      }
    }
  }

  #header-menu {
    ul {
      li {
        border: none;
        color: $uni-blue;

        & a,
        & a:active,
        & a:link,
        & a:visited {
          border: none;
          color: $uni-blue;
        }

        & a:hover {
          color: red;
        }
      }
    }

		#block-menu-menu-header-menu {
			li {
				border-bottom: solid 1px;
			}
	
			li.last {
				border-bottom: none;
			}
		}
  }

  #main-content {
    background: $mc-background;

		a,
    a:active,
    a:link,
    a:visited {
    	color: #000;
    }

		a:hover {
    	color: #cf3333;
    }

		a.button {
			color: #ffffff;
		}

    // position the backgrounds on the wrapper divs.
    .masterclass-header-wrapper,
    .masterclass-content-wrapper,
    .masterclass-footer-wrapper,
    .view-content,
    .view-footer {
      background-position: 0px 0px;
      margin-left: -78px;
      margin-right: -50px;
      padding-left: 78px;
    }

    .masterclass-header-wrapper {
      background-image: url('../images/masterclasses-top.jpg');
      background-repeat: no-repeat;
      padding-top: 40px;
      min-height: 307px;

      h2,
      h2 a {
        color: #000;
        font-family: Arial, sans-serif;
        font-size: 27px;
        line-height: 90%;
      }

			h2.the_title {
				margin-top: 5px;
			}

      .field {
        margin-right: 190px;
      }

      .field-name-field-mc-heading {
        p {
          font-family: Times, serif;
          font-size: 28px;
          line-height: 120%;
        }
      }

      .field-name-field-mc-date,
      .field-name-field-mc-registration {
        font-family: Arial, sans-serif;
        font-size: 18px;
        font-weight: bold;

        a,
        a:active,
        a:hover,
        a:link,
        a:visited {
          text-decoration: none;
          color: #000;
        }
      }
    }

    .masterclass-content-wrapper {
      background-image: url('../images/masterclasses-middle.jpg');
      background-repeat: repeat-y;
      padding-bottom: 20px;

      .field-name-body {
        .wysiwyg-right {
          .colorbox {
            margin-right: 0;
          }

          img {
            float: right;
            margin-right: -200px;
          }
        }

        p.image-wrapper {
          margin-right: 0;
        }

        ol,
        p,
        ul {
          font-family: Courier;
          font-size: 13px;
          margin-right: 270px;
        }

				// This assume you never float the image with table.
				table {
					table-layout:fixed;
					width: 90%;
	
					ul,
					ol,
					p {
						margin-right:0;
					}
				}

        ol,
        ul {
          font-family: Courier;
          padding-left: 22px;
        }

        h3, h4, h5, h6 {
          color: #000;
          font-family: Courier;
          font-size: 13px;
          font-weight: bold;
          margin-right: 220px;
        }
      }
    }

    .masterclass-footer-wrapper {
      margin-top: -10px;
      min-height: 243px;
      background-image: url('../images/masterclasses-bottom.jpg');
      background-repeat: no-repeat;
    }

    .view-header {
      h2, h3, h4, .pullquote {
        color: #000;
      }
    }

		.view-content {
			overflow: hidden; // make float contained
		}
  }

  h3#block-jquerymenu-1 {
    margin-left: 22px;
  }
}

.masterclasses.views-view-landing_pages {

  #main-content.main.col-6 {
    background-image: url('../images/masterclasses-top.jpg');
    background-position: 0px 0px;
    background-repeat: no-repeat;
		margin-top: 20px !important; // Make it same as other page
    margin-left: -78px;
    margin-right: -50px;
    padding-left: 78px;
		padding-top: 40px;
    width: 750px;

		> h2 a
		{
			color: #000;
      font-family: Arial, sans-serif;
      font-size: 27px;
      line-height: 90%;
			font-weight: bold;
			text-decoration: underline;
		}
  }

  .view-header {
    margin-right: 80px;

		h4 {
			font: 27px Times;
		}
  }

  .view-content {
		margin-top: 74px;
		padding-left: 58px !important; // Hack

    background-image: url('../images/masterclasses-middle.jpg');
    background-repeat: repeat-y;

		// IE 8
		.views-row.col-2 {
			min-height: 350px; 
   		height:auto !important; 
   		height: 350px;	
		}

		.views-row {
			h2 {
				font: 14px Arial;
				font-weight: bold;
			}

			.views-field-body {
				p {
					font: 13px courier;
				}
			}
		}
  }

  .view-footer {
    background-image: url('../images/masterclasses-bottom.jpg');
    background-repeat: no-repeat;
    margin-top: -15px;
    min-height: 243px;
  }
}

/* Add in some responsible sprinkles. */
@import "responsive";
