/* Highlighter styles. */
#tinymce,
.masterclasses {
  .mc-hl-red,
  .mc-hl-green,
  .mc-hl-blue,
  .mc-hl-pink,
  .mc-hl-yellow {
    padding: 0.1em 0.3em;
    margin: 0 -0.3em;
  }

  .mc-hl-red {
    background-image: url('../images/hl-red.png');
    border-bottom: 1px solid #e33;
    border-top: 1px solid #f44;
  }
  .mc-hl-green {
    background-image: url('../images/hl-green.png');
    border-bottom: 1px solid #0d3;
    border-top: 1px solid #0f1;
  }
  .mc-hl-blue {
    background-image: url('../images/hl-blue.png');
    border-bottom: 1px solid #3ef;
    border-top: 1px solid #0df;
  }
  .mc-hl-pink {
    background-image: url('../images/hl-pink.png');
    border-bottom: 1px solid #f09;
    border-top: 1px solid #d37;
  }
  .mc-hl-yellow {
    background-image: url('../images/hl-yellow.png');
    border-top: 1px solid #ee0;
    border-bottom: 1px solid #dd0;
  }
}
